* {
    margin: 0;

}

#header {
    background-color: plum;
    text-align: center;

}

#menu {
    float: left;
    background-color: powderblue;
    height: 300px;
    width: 150px;
    text-align: center;
}

#content{
    height: 200px;
    text-indent: 30px;
}

#footer {
    text-align: center;
    clear: both;
    background-color: plum;
}

.button {
    text-align: center;

}

.button {
    /* background-color: rgb(235, 57, 116);; */
    padding: 2px;
    border-radius: 5px;
    transition: background-color 0.5s;
    /* border: solid thin rgb(235, 57, 116); */


}

button:hover {
    background-color: purple;
    color: wheat;
}

button:active {
    padding: 7px;
}